.card {
  background-color: white;
  border-radius: 0.75rem;
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
}

.card img {
  width: 100%;
  display: block;
  border-radius: 0.5rem;
}

.category {
  font-size: 0.75rem;
  color: hsl(var(--rose-400));
}

.name {
  font-size: 1rem;
  font-weight: var(--fw-600);
  color: hsl(var(--rose-900));
}

.price {
  color: hsl(var(--red));
  font-weight: var(--fw-700);
}
