.flex {
  display: flex;
}
.grid {
  display: grid;
}
.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
.justify-space-between {
  justify-content: space-between;
}
.gap-1 {
  gap: var(--gap-1);
}
.gap-2 {
  gap: var(--gap-2);
}
.gap-3 {
  gap: var(--gap-3);
}
.gap-4 {
  gap: var(--gap-4);
}
.gap-5 {
  gap: var(--gap-5);
}
.padding-1 {
  padding: var(--p-1);
}
.padding-2 {
  padding: var(--p-2);
}
.padding-3 {
  padding: var(--p-3);
}
.padding-4 {
  padding: var(--p-4);
}
.padding-1-top {
  padding-top: var(--p-1);
}
.padding-2-top {
  padding-top: var(--p-2);
}
.padding-3-top {
  padding-top: var(--p-3);
}
.padding-1-bottom {
  padding-bottom: var(--p-1);
}
.padding-2-bottom {
  padding-bottom: var(--p-2);
}
.padding-3-bottom {
  padding-bottom: var(--p-3);
}
.margin-1 {
  margin: var(--m-1);
}
.margin-2 {
  margin: var(--m-2);
}
.margin-3 {
  margin: var(--m-3);
}
.margin-4 {
  margin: var(--m-4);
}
.margin-1-top {
  margin-top: var(--m-1);
}
.margin-2-top {
  margin-top: var(--m-2);
}
.margin-3-top {
  margin-top: var(--m-3);
}
.margin-4-top {
  margin-top: var(--m-4);
}
.font-size-400 {
  font-size: var(--fs-400, 1.5rem);
}
.font-700 {
  font-weight: var(--fw-700, 700);
}
.font-600 {
  font-weight: var(--fw-600, 700);
}
.font-400 {
  font-weight: var(--fw-400, 700);
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.app {
  padding: 1.5rem;
}
.layout {
  display: grid;
  gap: var(--gap-4);
}

/* Desktop */
@media (min-width: 768px) {
  .layout {
    grid-template-columns: 2fr 1fr;
    margin: 0 auto;
    align-items: start;
  }
}
